* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  background-color: #EDEDED;
}
/*headers*/

header {
  background-color:#EDEDED;
  color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 130px;
 
}


h1{
  font-size: 60px;
}
h2{
  font-size: 40px;
  /* font-stretch: extra-expanded; */
}

h3{
  font-size: 30px;

}
h4{
  font-size: 25px;
}
h5{
  font-size: 18px;
}
h6{
  font-size: 15px;
  font-weight: lighter;
}


.hero-header{
  margin-bottom: 0.6rem;
  color: #515151;
}


.section2-left-header{
  margin-bottom: 20px;
  font-size: 3vw;
  color: #515151;
}

.section2-right-header{
 position: relative;
 top: 25vh;
 left: 65px;
 color: #F0EE3E;
 font-size: 12vw;
}

.impact-header{
  margin-bottom: 35px;
  font-size: 6vw;
  color: #515151;
}

.section-3-header{
  text-align: center;
  padding: 10px 0;
  color: #515151;
}

.cta-header{
  font-size: 3vw;
}



/* .testimonial-h5{
  font-size: 1.5vw;
} */


/*paragraphs*/
p{
  font-size: 20px;
  /* padding: 30px 0 */
}

.testimonial-para{
 margin: 30px 0 40px
}

.impact-para{
  font-size: 2.3vw;
  font-weight:500;
}
.hero-paragraph-1{
  font-size: 0.7rem;
  margin-bottom: 0.9rem;

}

.hero-paragraph-2{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}



/*button*/

.learn-more-button-1, .learn-more-button-2{

  color: #EDEDED;
  background-color:#515151;;
  border: none;
  margin-top: 6vh;
  border-radius: 10px;
  padding: 2vh 2vw;
  font-size: 20px;
}

.right-nav button {
  background-color: yellow;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}
.cta-button-contact-us{
  background-color: yellow;
  border: none;
  margin-top: 1vh;
  border-radius:10px;
  padding:  1rem 1.5rem;
  font-size: 20px;
}


/*Images*/
img{
  height: 100%;
  width: 100%;
}
.image{
 
}

.nimc-image{

}


.client-icon{
  height:60px;
  width:auto;
}
 


/*navigation*/ 

 #paychex, #paychex-small{
   font-size: 30px;
   font-weight: 500;
 }
 
 /* this appears only on small screaan*/
 #paychex-small{
    margin-top:20px;
    /* display: none; */
 }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  	align-items: center;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color:inherit;
    text-decoration: none;
  }
  nav.left-nav {
    flex: 1;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .right-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .right-nav li {
 
    margin: 0 10px;
  }
  nav.right-nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  

  nav.menu {
    display: none;
  }
  
  

  .menu-btn {
    display: none;
  }
  
  .menu-btn .btn-line {
    width: 30px;
    height: 4px;
    background: #333;
    margin: 5px;
    transition: all 0.3s ease-in-out;
  }

  

  
  @media only screen and (max-width: 768px) {

    header{
      padding: 10px;
    }
    nav.left-nav {
      display: none;
    }
    
    nav.right-nav {
      display: none;
    }

    nav.menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    
    nav.menu li {
      margin-bottom: 20px;
    }
    
    .menu-btn {
      display: block;
      cursor: pointer;
      position: relative;
      top: 10px;
    }

    .menu-btn .btn-line {
      width: 30px;
      height: 4px;
      background: #333;
      margin: 5px;
      transition: all 0.3s ease-in-out;
    }
    
    .menu-btn.active .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    
    .menu-btn.active .btn-line:nth-child(2) {
      opacity: 0;
    }
    
    .menu-btn.active .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
    

  }

  
  section {
    background-color: #EDEDED;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: black;
    padding: 40px 12px;
    /* text-shadow: 2px 2px 2px black; */
  }
  

  /* here section */
  /*section 1*/

  #section1 {
    /* display: flex; */
    /* align-items: stretch; */
	  /* flex-wrap: wrap; */
    /* flex-direction: row; */
    justify-items: flex-start;
   
  }
 
  .left-div{
    flex-basis: 50% ;
    padding: 50px 5vw 40px 10vw ;
    height: 100%;
     
    /* padding: 4rem; */

  }
  .right-div{
    flex-basis: 50%;
    height: 80vh;
    background-color: #B4D4F3;
   

  }
  
  

  @media (max-width: 975px) {
    .left-div{
      flex-basis: 50%;
      padding: 15px 5vw 30px 5vw ;
      text-align: center;

    }
   }

  @media (max-width: 850px) {
   .right-div{
     display: none;
   }
   .left-div{
     flex-basis: 100%;
   }
  }


  

/*   
  .cta-button-contact-us{
    background-color: yellow;
    border: none;
    margin-top: 40px;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
  } */

  .cta-button-solutions{
    border: 2px solid yellow;
    background-color: transparent;
    border-radius: 0.3rem;
    padding: 1rem 3rem;
  }


  
  .bottom-div {
    flex-basis: 100%;
    color: grey;
  }
  
/*clients*/


.client-icon-div{
  display: flex;
  height:30vh;
  justify-content:space-between;
  padding: 50px 12vw ;

}
.client-paragraph{
  font-size: .9rem;
  color: black;
  text-align: center;
}


@media (max-width: 800px) {
  .client-icon{
    height:50px;
  }
}
@media (max-width: 650px) {
  .client-icon{
    height:30px;
  }
  .client-icon-div{

    padding: 50px 6vw ;
  
}
}

/* section 2 */

  #section2 {
    padding-right: 0;
    padding-bottom: 30px;
  }

  .section2-left-div{
    flex-basis: 40%;
    height:75vh;
    position: relative
    /* border-top-left-radius: 10px ;
    border-bottom-left-radius: 20px ;
    position: relative;
    top: 120px;
    left: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  }
  


  .section2-right-div{

    flex-basis: 60%;
    font-size: 80px;
    background-color: #515151;
    height:75vh;
    /* width: 300%; */
    /* z-index: 1; */
  }

  .section2-left-inner-div,
  .section2-left-inner-background-div
  {
    background-color: yellow;
    height: 53vh;
    width: 30vw;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 20px ;
    position: absolute;
    bottom: 35px;
    right:0;
    padding: 10vh 25px 20px 70px;
    z-index: 2;
   
  }

  .section2-left-inner-background-div{
    background-color: #EDEDED;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    bottom: 20px;
    z-index: 1;
  }
  
  @media (max-width:625px) {
    .section2-left-header{
      display: none;
      
    }
    .section2-left-para{
      display: none;
    }
    .section2-left-div{
      flex-basis: 20%;

    }
    .section2-right-div{
      flex-basis: 70%;
      z-index: 2;
    }

    .section2-left-inner-div,
  .section2-left-inner-background-div
  {
  
    padding: 80px 25px 20px 20px;
    transform: rotate(-20deg);
    z-index: 1;
    right: -50px
   
  }
  }

  @media (max-width: 760px) and  (max-height: 600px){
    .section2-left-para{
      display: none;
    }
    .section2-left-header{
      font-size: 4vw;
    }
  }
  
  




  /* section 3 */
  #section3, #section4 {
    height: 90vh;
    padding: 0 50px;
  }

  .section3-left-div, .section4-right-div{
     height: 75vh;
     flex-basis: 50%;
     background-color: #333;
     
     /* margin-right: 20px; */
  }

  .section3-right-div, .section4-left-div{
    height: 75vh;
    flex-basis: 50%;
    
  }
  #section4{
    background-color: #F0EE3E;
  }
  .section3-right-div{
    text-align: end;
    padding: 12vh 0 0 15vw;

  }

  .section4-left-div{
    background-color: #F0EE3E;
    padding: 10vh 12vw 0 0px;
    
  }
  .section4-right-div{
    background-color: #EDEDED;
  }


  @media (max-width: 650px) {
    .section3-left-div{
      display: none;
    }
    .section4-right-div{
      display: none;
    }
    #section3, #section4 {
      height: 80vh;
      padding: 0;

    }

    .section3-right-div, .section4-left-div{
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0;
      flex-basis: 100%;

  
    }
  
    .section4-left-div{
      background-color: #F0EE3E;
 
    }
    .impact-header{
      margin-bottom: 35px;
      font-size: 60px;
      color: #515151;
    }
     .impact-para{
      font-size: 20px;
     }
   
  
  }


  
  #section5 {
    flex-direction:column;
    position: relative;
  }

  .sectio5-upper-div{
    background-color:white;
    width: 80vw;
    height: 80vh;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.section5-upper-div-child-1{
 
  height: 80vh;
  flex-basis: 50%;
  padding: 60px;
  border-bottom-left-radius: inherit;
  
}

.section5-pic{
    height: 30vh ;
    width: 20vw;
    background-color: aliceblue;
}

.enquiry-div{
 padding-top: 30px;
 padding-right: 80px;
}

.section5-upper-div-child-2{
  height: 80vh;
  background-color: #B4D4F3;
  flex-basis: 50%;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  
}

.enquiry-steps{
  padding: 40px 220px 40px 0;
  background-color: white;
  flex: 1;
  
}
/* .enquiry-steps:nth-child(0){
  padding-top: 40px;
} */
.enquiry-para{
  font-size: 15px;
}


.sectio5-inner-div{

    background-color: #EDEDED;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 77vw;
    height: 80vh;
    position: absolute;
    bottom:60px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    

}
  
#section6 {
    display: block;
    text-align: center;
    height: auto;
    color: black;
    text-shadow: none;
    padding: 100px 0;
}

.testimonial-div{
  display: flex;
  justify-content: space-between;
  align-items: stretch  ;
  padding: 0 100px;

  
}

.testimonial{
  flex-basis: 33%; 
  height: auto;
  background-color:white;
  margin: 0 30px;
  border-radius: 20px;
  padding: 30px 3vw;
}

@media (max-width: 930px) {

  /* #section6 {
    height: ;
} */
  .testimonial-div{
    /* display: flex; */
    /* justify-content: space-around; */
    flex-direction: column;
    padding: 0px 30px;
    /* height: 50vh; */

  }

  .testimonial{
    
    flex-basis: 33%; 
    height: 40vh;
    background-color:white;
    margin: 10px 30px;
    border-radius: 20px;
    padding: 30px 3vw;
  }
  
}


#section7 {
    height: 90vh;
    text-shadow: none;
}

.cta-3{
  height: 75vh;
  width: 80vw;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vw;
}
.cta-3-left-div, .cta-3-right-div{

  height: 100%;
  flex-basis: 50% ;
  border-radius: 15px;
}

.cta-3-left-div{
  padding: 50px 15vw 50px 50px;
}
@media (max-width: 725px) {
  .cta-3-right-div{

    display: none;
  }
  .cta-3{
    padding: 10px;
    text-align: center;
    height: 60vh;
  }

  .cta-3-left-div{
    padding: 60px 0;
  }
  .cta-header{
    font-size: 40px;
  }
}

@media (max-height: 530px) {
  .cta-header{
    font-size: 30px;
  }
  .cta-3-left-div{
    padding-top: 30px ;
  }
}
  
/*Icons*/

#star-icon{
  height: 15px;
  width: 15px;
  color: #F0EE3E;
}