* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}



  header {
    background-color:white;
    color:black;
    display: flex;
	  justify-content: space-between;
	  align-items: center;
    padding: 10px 130px;
   
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  	align-items: center;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color:inherit;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .right-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .right-nav li {
    margin: 0 10px;
  }
  
  .right-nav button {
    color: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  section {
    background-color: #EDEDED;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: black;
    padding: 0 12px;
    /* text-shadow: 2px 2px 2px black; */
  }
  

  /* here section */
  /*section 1*/

  #section1 {
    display: flex;
    /* align-items: stretch; */
	  flex-wrap: wrap;
    flex-direction: row;
   
  }
  #section_1{
    display: flex;
    align-items: stretch;
	  flex-wrap: wrap;
    
    
  }

  .left-div{
    flex-basis: calc(50% - 20vw);
    padding: 120px 10vw 40px 10vw ;
    height: calc(60vh - 60px);
 
    /* padding: 4rem; */

  }
  .right-div{
    flex-basis: 50%;
    height: 60vh;

    padding-top: 100px;

  }
  .bottom-div{
    height:30vh;
    padding-top: 20px;
  }
  .client-paragraph{
    font-size: .9rem;
    color: black;
    text-align: center;
  }

  @media (max-width: 975px) {
    .left-div{
      flex-basis: calc(50% - 10vw);
      padding: 150px 5vw 30px 5vw ;

    }
   }

  @media (max-width: 850px) {
   .right-div{
     display: none;
   }
   .left-div{
     flex-basis: 100%;
   }
  }


  

  .hero-paragraph-1{
    font-size: 0.7rem;
    margin-bottom: 0.9rem;
  }

  .hero-paragraph-2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .hero-header{
    font-size: 5.2vw;
    margin-bottom: 0.6rem;
  }

  .cta-button-contact-us{
    background-color: yellow;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
  }

  .cta-button-solutions{
    border: 2px solid yellow;
    background-color: transparent;
    border-radius: 0.3rem;
    padding: 1rem 3rem;
  }


  
  .bottom-div {
    flex-basis: 100%;
    color: grey;
  }
  


/* section 2 */

  #section2 {
    padding-right: 0;
    padding-bottom: 30px;
  }

  .section2-left-div{
     flex-basis: 40%;
    height:75vh;
    position: relative
    /* border-top-left-radius: 10px ;
    border-bottom-left-radius: 20px ;
    position: relative;
    top: 120px;
    left: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  }
  


  .section2-right-div{

    flex-basis: 60%;
    font-size: 80px;
    background-color: #515151;
    background-color: black;
    height:75vh;
    /* width: 300%; */
    /* z-index: 1; */
  }

  .section2-left-inner-div,
  .section2-left-inner-background-div
  {
    background-color: yellow;
    height: calc(53vh - 100px);
    width: 23vw;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 20px ;
    position: absolute;
    bottom: 35px;
    right:0;
    padding: 70px 25px 20px 70px;
   z-index: 2;
   
  }

  .section2-left-inner-background-div{
    background-color: #EDEDED;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    bottom: 20px;
    z-index: 1;
  }

  .section2-left-header{
    font-size: 40px;
     margin-bottom: 20px;
   
  }

  .section2-left-para{
    font-size: 20px;
    
  }

  .section2-right-header{
    position: relative;
    top: 200px;
    left: 65px;
    color: #F0EE3E;
  }




  /* section 3 */
  #section3, #section4 {
    height: 80vh;
    padding: 0 100px;
  }

  .section3-left-div, .section4-right-div{
     height: 60vh;
     flex-basis: 52%;
     background-color: #333;
     padding-right: 230px;
  }

  .section3-right-div, .section4-left-div{
    height: calc(60vh - 100px);
    flex-basis: 48%;
    background-color: #EDEDED;
    padding: 100px 160px 0 60px;
  }



  
  #section5 {
    flex-direction:column;
    position: relative;
  }

  .sectio5-upper-div{
    background-color:white;
    width: 80vw;
    height: 70vh;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.section5-upper-div-child-1{
 
  height: 70vh;
  background-color: grey;
  flex-basis: 60%;
}
.section5-upper-div-child-2{
  height: 70vh;
  background-color: #B4D4F3;
  flex-basis: 40%;
}

  .sectio5-inner-div{

    background-color: #EDEDED;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 77vw;
    height: 70vh;
    position: absolute;
    bottom:95px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    

  }
  
  #section6 {
    background-color: #B4D4F3;
    color: black;
    text-shadow: none;
  }
  #section7 {
    background-color: #B4D4F3;
    color: black;
    text-shadow: none;
  }
  